@charset "UTF-8";
/**
 * @file
 * Centralize your imports here.
 * Styles are organized using the SMACSS technique.
 * @see http://smacss.com/book/
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/**
 * @file
 * Import Sass mixins, variables, Compass modules, etc here.
 */
/**
 * @file
 * Define your custom Sass mixins and extends here.
 * @see http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin
 */
/* ==========================================================================
   Clearfix extend
   ========================================================================== */
/**
 * Applies a clearfix ruleset using a placeholder selector. Placeholder selectors
   do not get compiled uless they are called - removing the nesting issues that
   can otherwise occur with extends.
 */
/* ==============================================================
   Transition mixin
   ============================================================== */
/* ==============================================================
   Typography mixins
   ============================================================== */
/* Spec vertical rhythm, weight & color in one line
/* Usage: @include groom(4, 34px, 400, $neutral-text); */
/* ==============================================================
   Positioning mixins
   ============================================================== */
/* HTML element (SMACSS base) rules */
/* normalize.css v2.0.1 | MIT License | git.io/normalize */
/* normalize.scss v2.0.1_build.2 | MIT/GPLv2 License | bit.ly/normalize-with-compass */
/* =============================================================================
   Normalize.css is intended to be used as an alternative to CSS resets.

   It's suggested that you read the normalize.scss file and customise it to meet
   your needs, rather then including the file in your project and overriding the
   defaults later in your CSS.
   @see http://nicolasgallagher.com/about-normalize-css/

   Also: @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
         @see http://snook.ca/archives/html_and_css/no_css_reset/
   ========================================================================== */
/* IMPORTANT! This version of normalize has been hacked upon. :) */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 40, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 50, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 63, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9.
 * Known issue: no IE 6 support.
 */
/* line 73, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
* 1. Prevent iOS text size adjust after orientation change, without disabling
*    user zoom.
* 2. Makes it pretty — banishes chunky type.
*/
/* line 87, ../sass/_normalize.scss */
html {
  -webkit-text-size-adjust: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-font-smoothing: antialiased;
  /* 2 */
  text-rendering: optimizeLegibility;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 111, ../sass/_normalize.scss */
body {
  margin: 0;
  padding: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 124, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 133, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography

   To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
   so that the line height of our base font becomes the basic unit of vertical
   measurement. We use multiples of that unit to set the top and bottom margins
   for our block level elements and to set the line heights of any fonts.
   For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm
   ========================================================================== */
/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 152, ../sass/_normalize.scss */
p,
pre {
  margin: 0.85714em 0;
}

/* line 156, ../sass/_normalize.scss */
blockquote {
  /* Set 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 0.85714em 30px;
}

/**
 * Address variable `h1` font size within `section` and `article` contexts in
 * Firefox 4+, Safari 5, and Chrome.
 */
/* line 166, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 175, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
  white-space: nowrap;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 186, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 194, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 202, ../sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 212, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 226, ../sass/_normalize.scss */
code,
kbd,
pre,
samp,
tt,
var {
  font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  font-size: 1em;
  line-height: 1.28571em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 238, ../sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/**
 * Set consistent quote types.
 */
/* line 248, ../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 256, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 265, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 272, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 276, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Set 1 unit of vertical rhythm and a consistent indentation.
 */
/* line 291, ../sass/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 0.42857em 0;
  padding: 0 0 0 30px;
  /* LTR */
}

/* line 297, ../sass/_normalize.scss */
ul ul, ul ol, ol ul, ol ol {
  margin: 0;
  /* Turn off margins on nested lists. */
}

/* line 302, ../sass/_normalize.scss */
dl {
  padding: 0;
}

/* line 306, ../sass/_normalize.scss */
dd {
  margin: 0 0 0 30px;
  /* LTR */
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 330, ../sass/_normalize.scss */
img {
  border: 0;
  /* vertical-align: bottom; */
  /* Suppress the space beneath the baseline */
  /* Responsive images */
  max-width: 100%;
  height: auto;
  width: auto;
  /* Correct IE 8 not scaling image height when resized. */
}

/* Responsive embedded video. */
/*
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; //16:9
  padding-top: 25px;
  height: 0;
}
.video-wrapper object,
.video-wrapper embed,  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
*/
/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 368, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 380, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 401, ../sass/_normalize.scss */
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-top-style: solid;
  border-top-width: 0.07143em;
  padding-top: 0.07857em;
  border-bottom-style: solid;
  border-bottom-width: 0.07143em;
  padding-bottom: 0.20714em;
  border-left-style: solid;
  border-left-width: 0.07143em;
  padding-left: 0.20714em;
  border-right-style: solid;
  border-right-width: 0.07143em;
  padding-right: 0.20714em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 417, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Improve appearance and consistency with IE 6/7.
 */
/* line 435, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 451, ../sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 468, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 481, ../sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 493, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 508, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 519, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 528, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 538, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* line 543, ../sass/_normalize.scss */
label {
  display: block;
  font-weight: bold;
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 556, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  /* width: 100%; */
  /* Prevent cramped-looking tables */
  /* Add vertical rhythm margins. */
  margin-top: 0.42857em;
  margin-bottom: 0.42857em;
}

/* Typography system rules */
/**
 * @file
 * Define your typography system here.
 */
/* ===============================================================
   Modular Scale (Major Third: 18px @ 1:1.25)
   @see http://modularscale.com/
   Choose your base font size based on mobile and go from there.
   =============================================================== */
/* ==============================================================
   Global Type Styles
   Here for designer convenience, overwrites any normalize rules.
   ============================================================== */
/* line 29, ../sass/_typography.scss */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 14px;
}
@media (min-width: 600px) {
  /* line 29, ../sass/_typography.scss */
  html {
    font-size: 125%;
  }
}
@media (min-width: 1000px) {
  /* line 29, ../sass/_typography.scss */
  html {
    font-size: 156%;
  }
}

/* line 43, ../sass/_typography.scss */
body {
  font-size: 1em;
  line-height: 1.71429em;
  margin: 0 auto 1.71429em;
  font-weight: 400;
  color: #333333;
}

/* line 54, ../sass/_typography.scss */
h1 {
  font-size: 2.5em;
  line-height: 1.54286em;
  margin: 0 auto 0em;
  font-weight: 400;
  color: #333333;
}

/* line 60, ../sass/_typography.scss */
h2 {
  font-size: 1.64286em;
  line-height: 1.56522em;
  margin: 0 auto 0.52174em;
  font-weight: 600;
  color: #333333;
}

/* line 65, ../sass/_typography.scss */
h3 {
  font-size: 1.28571em;
  line-height: 1.66667em;
  margin: 0 auto 0.66667em;
  font-weight: 600;
  color: #333333;
}

/* line 70, ../sass/_typography.scss */
h4 {
  font-size: 1em;
  line-height: 1.71429em;
  margin: 0 auto 0.85714em;
  font-weight: 600;
  color: #333333;
}

/* line 75, ../sass/_typography.scss */
h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 auto 0.85714em;
  font-weight: 600;
  color: #333333;
  text-transform: uppercase;
}

/* line 81, ../sass/_typography.scss */
h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 auto 0.85714em;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

/* line 87, ../sass/_typography.scss */
ul, ol {
  font-size: 1em;
  line-height: 2.14286em;
  margin: 0 auto 1.71429em;
  font-weight: auto;
  color: auto;
}

/* line 92, ../sass/_typography.scss */
li {
  margin: 0 auto 0.85714em;
  font-weight: auto;
  color: auto;
  margin-left: 24px;
}
/* line 96, ../sass/_typography.scss */
li ul li {
  margin-top: 0.42857em;
  margin-bottom: 0.42857em;
}

/* line 102, ../sass/_typography.scss */
figcaption {
  font-size: 1em;
  line-height: 1.71429em;
  margin: 0 auto 1.71429em;
  font-weight: 400;
  color: #333333;
}

/*
b,
strong {
  font-weight: 600;
}
*/
/* line 118, ../sass/_typography.scss */
hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: 0.42857em 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Define your site's basic link behavior. (i.e. what would happen in a wysiwyg editor)
 * The order of link states are based on Eric Meyer's article:
 * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
 */
/* line 136, ../sass/_typography.scss */
a:link,
a:visited {
  color: #0099FF;
}

/* line 141, ../sass/_typography.scss */
a:hover,
a:focus,
a:active {
  color: #FF3300;
}

/* ==============================================================
   Type Style Alterations
   ============================================================== */
/*
.class-name {
  @include adjust-font-size-to($fontsize, base-line-units);
  @include groom(base-line-unit-after, $font-size, font-weight, $color);
}
*/
/* Layout rules */
/**
 * @file
 * Define zen grids base settings here.
 * @see http://zengrids.com
 */
/*
 * Center the page.
 */
/* line 29, ../sass/layouts/_l-zen-grids-base.scss */
.container {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  min-width: 260px;
  /* enforces a min-width in FF. */
  max-width: 1400px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 44, ../sass/layouts/_l-zen-grids-base.scss */
.container,
.grid-item {
  padding-left: 24px;
  padding-right: 24px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 46, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.container:before, .container:after {
  content: "";
  display: table;
}
/* line 50, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.container:after {
  clear: both;
}

/* Component (SMACSS module) rules */
/**
 * @file
 * Design Component (SMACSS module) partial
 * Element-invisible as defined by snook.ca
 * @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
/* line 9, ../sass/components/_hidden.scss */
.element-invisible,
.element-focusable {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Turns off the element-invisible effect. */
/* line 21, ../sass/components/_hidden.scss */
.element-focusable:active, .element-focusable:focus {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

/* print rules */
/**
 * @file
 * Define print styles here.
 */
